[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
tensorflow-gpu = "*"
tornado = "*"
pillow = "*"
requests = "*"
schema = "*"
pyyaml = "*"
pulp = "*"

[dev-packages]
psycopg2 = "*"

[requires]
python_version = "3.7"
