[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
tornado = "*"
pillow = "*"
requests = "*"
schema = "*"
pyyaml = "*"
pulp = "*"
scipy = "*"
hnswlib = "*"
pandas = "*"
scikit-learn = ""
redis = "*"
oss2 = "*"
tensorflow-gpu = "==2.0.1"
tensorflow-serving-api = "==2.0.0"

[requires]
python_version = "3.7"
