
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>图片识别算法测试</title>
		<style type="text/css">
			.fullbg{background-color: gray;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
	}
		</style>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div>
		<button style="font-size: 50px; float: left;" onclick="selectImg()">选择图片上传</button>
		<button style="font-size: 50px;float: left; margin-left: 30px;" onclick="submitImg()">上传图片</button>
		</div>
		<input id="file" type="file" accept='image/jpg' style="display: none;">
		<div class="col-md-9">
			<img src="" style="width: 100%;">
		</div>
		<div id="loading" style="display: none;" class="fullbg">上传中。。。</div>
		<script type="text/javascript">
		var data_64;
			//html5实现图片预览功能
			$(function() {
				$("#file").change(function(e) {
					var file =e.target.files.length<=0?undefined: e.target.files[0] || e.dataTransfer.files[0];
					if (file&&file!=undefined) {
						var reader = new FileReader();
						reader.onload = function() {
							$("img").attr("src", this.result);
							data_64= this.result.substring(this.result.indexOf(",")+1);
							console.log(data_64);
						}

						reader.readAsDataURL(file);
					}else{
						$("img").attr("src", '');
					}
				});
			})

			function selectImg() {
				$("#file").click()
			}

			function submitImg() {
				if($("#file")[0].files.length<=0){
					alert('请选择图片');
					return;
				}
				$('#loading').show();
				$.ajax({
					url: 'http://47.99.184.53:443/algorithm/spuclassify',
					/*接口域名地址*/
					type: 'post',
					dataType: "json",
					data: JSON.stringify({pic:data_64,app_id:1002,token:'QUAGIPYZv2phl5wJ'}),
					contentType: false,
					processData: false,
					success: function(res) {
						$('#loading').hide();
						console.log(res);
						alert(res.response.code+'-'+res.response.confidence);
					}
				})
			}
		</script>
	</body>
</html>
